<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns:f="http://java.sun.com/jsf/core"
	xmlns:tc="http://myfaces.apache.org/tobago/component"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:view>
		<tc:page label="#{bundle.title}" id="page">
			<tc:form id="authForm" rendered="#{!usersController.isAuthorised()}">
				<tc:box>
					<tc:section label="#{bundle.authTitle}" />
					<tc:messages for="authLogin" />
					<tc:in id="authLogin" label="#{bundle.authLogin}"
						value="#{usersController.authLogin}" />
					<tc:in id="authPass" label="#{bundle.authPass}"
						value="#{usersController.authPass}" password="true" />
					<tc:button id="authSubmit" label="#{bundle.authSubmit}"
						actionListener="#{usersController.onAuthoriseClicked}">
					</tc:button>

				</tc:box>
			</tc:form>
			<tc:box rendered="#{usersController.isAuthorised()}">
				<ui:insert/>
			</tc:box>

		</tc:page>
	</f:view>
</ui:composition>
