<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="/main.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:tc="http://myfaces.apache.org/tobago/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
	<tc:form id="ordersTableForm">
		<tc:section id="ordersTableSection" label="">
			<tc:segmentLayout medium="6;2">
				<tc:sheet id="ordersTable" columns="1*;2*;2*;2*;2*"
					value="#{pizzaShop.orders}" state="#{pizzaShop.selectedOrders}"
					var="order" rows="25" showRowRange="left" showPageRange="right"
					showDirectLinks="center" selectable="single">

					<tc:column id="id" label="#{bundle.listId}" sortable="true">
						<tc:out value="#{order.id}" />
					</tc:column>
					<tc:column id="buyer" label="#{bundle.listBuyer}" sortable="true">
						<tc:out value="#{order.buyer}" />
					</tc:column>
					<tc:column id="address" label="#{bundle.listAddress}"
						sortable="true">
						<tc:out value="#{order.address}" />
					</tc:column>
					<tc:column id="date" label="#{bundle.listDate}" sortable="true">
						<tc:out value="#{order.date}">
							<f:convertDateTime pattern="#{bundle.dateTimePattern}" />
						</tc:out>
					</tc:column>
					<tc:column id="status" label="#{bundle.listStatus}" sortable="true">
						<tc:out value="#{bundle[order.status.bundleName]}" />
					</tc:column>

					<tc:row id="sheetRow">
						<f:ajax render=":::btnEditOrder"
							listener="#{pizzaShop.ordersSelectionChanged}" />
					</tc:row>

				</tc:sheet>

				<tc:section id="buttonsSection">
					<tc:section id="btnAddOrderSection">
						<tc:button id="btnAddOrder" label="#{bundle.btnAddOrder}"
							actionListener="#{pizzaShop.onAddBtnClicked}">
							<f:ajax render="ordersTableForm"
								listener="#{pizzaShop.onAddBtnClicked}" />
						</tc:button>
					</tc:section>
					<tc:section id="btnEditOrderSection">
						<tc:button id="btnEditOrder" label="#{bundle.btnEditOrder}"
							disabled="#{!pizzaShop.hasSelectedOrder()}">
							<f:ajax render="ordersTableForm"
								listener="#{pizzaShop.onEditBtnClicked}" />
						</tc:button>
					</tc:section>
				</tc:section>
			</tc:segmentLayout>
		</tc:section>
		<tc:popup id="orderPopup" collapsed="#{!pizzaShop.hasPopupOrder()}"
			collapsedMode="hidden">
			<tc:box>
				<tc:section label="#{bundle.popupOrderAddTitle}"
					rendered="#{!pizzaShop.hasSelectedOrder()}" />
				<tc:section label="#{bundle.popupOrderEditTitle}"
					rendered="#{pizzaShop.hasSelectedOrder()}" />
				<tc:messages for="popupBuyer"/>
				<tc:in id="popupBuyer" label="#{bundle.popupOrderBuyer}"
					value="#{pizzaShop.popupOrder.buyer}" />
				<tc:messages for="popupAddress"/>
				<tc:in id="popupAddress" label="#{bundle.popupOrderAddress}"
					value="#{pizzaShop.popupOrder.address}" />
				<tc:selectOneChoice id="popupStatus" label="#{bundle.popupOrderStatus}"
					value="#{pizzaShop.popupOrder.status}">
					<f:selectItems value="#{pizzaShop.orderStatuses}" var="status"
						itemLabel="#{bundle[status.bundleName]}" itemValue="#{status}" />
				</tc:selectOneChoice>
				<tc:buttons>
					<tc:button id="addOrderSubmit" label="#{bundle.popupOrderSave}"
						actionListener="#{pizzaShop.onPopupSaveClicked}">
					</tc:button>
					<tc:button id="addOrderCancel" label="#{bundle.popupOrderCancel}" actionListener="#{pizzaShop.onPopupCancelClicked}">
					</tc:button>
				</tc:buttons>
			</tc:box>
		</tc:popup>
	</tc:form>
</ui:composition>