<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="/main.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:tc="http://myfaces.apache.org/tobago/component"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
	<tc:form id="usersTableForm">
		<tc:section id="usersTableSection" label="">
			<tc:segmentLayout medium="6;2">
				<tc:sheet id="usersTable" columns="1*;2*;2*"
					value="#{usersController.users}" state="#{usersController.selectedUsers}"
					var="user" rows="25" showRowRange="left" showPageRange="right"
					showDirectLinks="center" selectable="single">

					<tc:column id="id" label="#{bundle.listId}" sortable="true">
						<tc:out value="#{user.id}" />
					</tc:column>
					<tc:column id="login" label="#{bundle.listLogin}" sortable="true">
						<tc:out value="#{user.login}" />
					</tc:column>
					<tc:column id="pass" label="#{bundle.listPass}"
						sortable="true">
						<tc:out value="#{user.pass}" />
					</tc:column>
					<tc:row id="sheetRow">
						<f:ajax render=":::btnEditUser"
							listener="#{usersController.usersSelectionChanged}" />
					</tc:row>

				</tc:sheet>

				<tc:section id="buttonsSection">
					<tc:section id="btnAddUserSection">
						<tc:button id="btnAddUser" label="#{bundle.btnAddUser}"
							actionListener="#{usersController.onAddBtnClicked}">
							<f:ajax render="usersTableForm"
								listener="#{usersController.onAddBtnClicked}" />
						</tc:button>
					</tc:section>
					<tc:section id="btnEditUserSection">
						<tc:button id="btnEditUser" label="#{bundle.btnEditUser}"
							disabled="#{!usersController.hasSelectedUser()}">
							<f:ajax render="usersTableForm"
								listener="#{usersController.onEditBtnClicked}" />
						</tc:button>
					</tc:section>
				</tc:section>
			</tc:segmentLayout>
		</tc:section>
		<tc:popup id="userPopup" collapsed="#{!usersController.hasPopupUser()}"
			collapsedMode="hidden">
			<tc:box>
				<tc:section label="#{bundle.popupUserAddTitle}"
					rendered="#{!usersController.hasSelectedUser()}" />
				<tc:section label="#{bundle.popupUserEditTitle}"
					rendered="#{usersController.hasSelectedUser()}" />
				<tc:messages for="popupLogin"/>
				<tc:in id="popupLogin" label="#{bundle.popupUserLogin}"
					value="#{usersController.popupUser.login}" />
				<tc:messages for="popupPass"/>
				<tc:in id="popupPass" label="#{bundle.popupUserPass}"
					value="#{usersController.popupUser.pass}" />
				<tc:buttons>
					<tc:button id="addUserSubmit" label="#{bundle.popupUserSave}"
						actionListener="#{usersController.onPopupSaveClicked}">
					</tc:button>
					<tc:button id="addUserCancel" label="#{bundle.popupUserCancel}" actionListener="#{usersController.onPopupCancelClicked}">
					</tc:button>
				</tc:buttons>
			</tc:box>
		</tc:popup>
	</tc:form>
</ui:composition>